---
import { CONTENT_TYPES_FILE } from "node_modules/astro/dist/content/consts";
const { style, alt, size, path } = Astro.props;

console.log("path", path);
---

<div class:list={[style, "px-4"]}>
  <img src="../../assets/images/content/CMSIS-PackDiagram.png" />
</div>
